*{
    padding:0;
    margin:0;
    box-sizing: border-box;
   
   }
   
body {

    background:#f0f0f9;
    font-family: 'Roboto';
    color:#545454;
    font-size: 18px;
}
.navigation {

    margin:20px 2% 30px;
    text-align: right;
    font-size:20px;
}

.navigation ul {
    list-style: none;
}

.navigation ul li {
    display: inline-block;
    font-size:16px;
    margin:0 10px;
}

.navigation ul li a {
    color:#545454;
    text-decoration: none;
}

.navigation ul li a:hover {
    text-decoration: underline;
}

.group-section {
 margin: 30px 2%;
}

.group-section h1 {
    font-size: 30px;
    margin: 0 0 20px 0;
}

.group-section h2 {
    font-size: 28px;
    text-align: center;
    margin: 0 0 15px 0;
}

.group-section h3 {
    font-size: 24px;
    margin: 0 0 15px 0;
}

.group-section p {
    font-size: 18px;
    margin: 0 0 15px 0;
}

.first-section p {
    font-size: 24px;
}

.social-networks {

    margin: 0 0 15px 0;
    list-style:none;
 }

.social-networks li {

   display: inline-block;
   border:2px solid #ffc0cb;
   border-radius: 30px;
   padding:9px;
}

.social-networks li:hover {

  background:#ffc0cb;

 }

 .social-networks li img {

    width: 40px;
    height:40px;
 }

 .first-section button {
    border:2px solid #ffc0cb;
    border-radius: 30px;
    padding:9px;
    cursor: pointer;
 }

 .first-section button:hover {
    background:#ffc0cb;
    color:#ffffff;
 }

 .float-right {
    float:right;
    
 }

 .float-left {
    float:left;
 }

 .profile-picture {
    width: 40%;
 }

 .profile-picture img {
    width: 100%;
    height:auto;
 }

 .profile-text {
    width: 58%;
    margin-right:2%;
 }

 .profile-text-bis {
    width: 58%;
    margin-left:2%;
 }

 .center {
    text-align: center;
 }

 .overflow {
    overflow: auto;
 }

 .info h4 {
    color:#ff0000;
    margin:0 0 5px;
 }

 .col-1 {
    width:48%;
    margin-right:2%;
 }

 .col-2 {
    width:48%;
    margin-right:2%;
 }

 .function, .contact {

    width:48%;
    padding:1%;
    margin-right:2%;
    margin-bottom:15px;
    border:2px solid #ffc0cb;
    border-radius: 5px;
 }

 .function img, .contact img {

    width:40px;
    height:40px;
    margin: 0 0 5px;
 }

 footer {
    text-align: center;
 }

 footer p {
    margin: 0 0 15px 0;
 }

 .group-section table {
    width: 60%;
    margin: auto;
}

.form .submit {
    border:2px solid #ffc0cb;
    border-radius: 30px;
    padding:9px;
    cursor: pointer;
}
 
.form .submit:hover {
    background:#ffc0cb;
    color:#ffffff;
 }

 input[type=text], input[type=email], textarea {
    display: block;
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 0 15px;
    font-family: 'Roboto';
  }